@import "tailwindcss";

@theme {
  --color-gray-500: #F6F7F9;
  --color-gray-300: #e8eaee;
  --color-gray-transparent-500: #f6f7f900;
  --color-white-500: #FFFFFF;

  --color-black-500: #3C3C3C;

  --color-blue-300: #E7F0FE;
  --color-blue-500: #3E87F6;
  --color-green-300: #E7FEEF;
  --color-green-500: #00B521;
  --color-red-300: #FEE7E7;
  --color-red-500: #EB0000;
}

.shadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.044);
}